*{margin:0;padding:0;}
html,body{width:100%;height: 100%;}
body{background:#fff;font:12px "微软雅黑";overflow: hidden;}
input{background:rgba(0,0,0,0.5);border:none;outline: none;float: left;}
.bg{width: 100%;height: 100%;background: url(../../baiduhuanfu/images/2.jpg) no-repeat;background-size:cover;position:fixed;z-index: -1;top: 0px;left: 0px;}
/*留言结束*/
.menu{width:100%;height:40%;position:absolute;z-index:2;left: 0;top: 0px;}
.menu .Img{width:100%;height:90%;background:rgba(0,0,0,.5);overflow: auto;}
.menu .Img img{height:110px;width:151px;border-radius:5px;box-shadow:0 0 10px #f8f8f8;margin:5px;}
.menu .Img .text{font-size:30px;font-family:"华文行楷";color:#fff;-webkit-user-select:none;text-align:center;margin:5% auto;}
.menu #btn1{width: 93%;height:15%;background:#fff;text-indent: 12px;}
.menu #btn2{width: 7%;height:15%;background: #ff0;font-weight: bold;cursor: pointer;}
.menu #btn2:hover{background: #40b756;transition:ease 0.5s all;}
.shuoshuo{width:100%;height:59%;background:rgba(0,0,0,0.5);position: fixed;z-index: 1;left: 0;bottom:0;overflow: auto;;}
.shuoshuo .box{width:400px;min-height:90px;font-size:12px;font-weight: bold;margin:20px auto;border-radius: 5px;background:rgba(0,0,0,0.5);box-shadow: 0 0 10px #ff0;padding:10px;position: relative;}
.shuoshuo span{width:100%;min-height:12px;display:block;color: #fff;}
.shuoshuo img{width:150px;height:90px;border-radius: 4px;margin:0 10px 10px 0px;box-shadow: 0 0 10px #ff0;}
.shuoshuo i{width: 50px;height: 25px;background: #ff0;display: block;position:absolute;bottom: 0;right: 0;text-align: center;line-height: 25px;font-weight: bold;}
