<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,user-scalable=no" name="viewport">
		<title>新闻后台管理页面</title>
		<link rel="stylesheet" type="text/css" href="../css/news_manage.css">

	</head>
	<body>
		<!--start top-->
		<div id="top">
			<!--start n-top-->
			<div id="n-top">
				<div class="t-nav">
					<ul>
						<li>
							<a href="../news_index.html" target="main" class="h_sel">
								<i class="h_icon1"></i>
								<span>首页</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="h_icon2"></i>
								<span>界面管理</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="h_icon3"></i>
								<span>栏目管理</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="h_icon4"></i>
								<span>内容管理</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="h_icon5"></i>
								<span>用户管理</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="h_icon6"></i>
								<span>论坛中心</span>
							</a>
						</li>
						<li>
							<a href="http://demo.hteos.com/#" target="main">
								<i class="h_icon7"></i>
								<span>应用中心</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="h_icon8"></i>
								<span>工具</span>
							</a>
						</li>
					</ul>
				</div>
				<!--h_info start-->
				<div class="h_info">
					<div class="h_user">当前用户：邹智敏 , 身份：系统管理员</div>
					<div class="h_out">
						<a href="../index.html">
							<span>退出</span>
							<i></i>
						</a>
					</div>
				</div>
				<!--end h_info-->
			</div>
			<!--end n-top-->
		</div>
		<!--end top-->
		
		<!--start left-->
		<div id="left">
			<!--start n-left-->
			<div id="n-left">
				<div class="log">
					<img src="../img/log/log.jpg" alt="log无法加载">
					<span>看世界</span>
				</div>
				<ul>
					<li>
						<a href="news_manage_xw.html" target="main">
							<i class="icon_1"></i>
							<span>新闻发布</span>
						</a>
					</li>
					<li>
						<a href="news_manage_gg.html" target="main">
							<i class="icon_2"></i>
							<span>广告管理</span>
						</a>
					</li>
					<li>
						<a href="news_manage_hz.html" target="main">
							<i class="icon_3"></i>
							<span>合作管理</span>
						</a>
					</li>
					<li>
						<a href="news_manage_fw.html" target="main">
							<i class="icon_4"></i>
							<span>访问次数</span>
						</a>
					</li>
					<li>
						<a href="news_manage_kf.html" target="main">
							<i class="icon_5"></i>
							<span>访问客服</span>
						</a>
					</li>
				</ul>
			</div>
			<!--end n-left-->
		</div>
		<!--end left-->

		<!--start right-->
		<div id="right">
			<iframe name="main" id="iframeId" src="news_manage_xw.html" scrolling="yes" frameborder="0"></iframe>
		</div>
		<!--end right-->
	</body>
</html>