<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻预览</title>
<link href="css/sg.css" rel="stylesheet">
<link href="css/page.css" rel="stylesheet">
</head>

<body>
<div class="container">
     <div class="dh clearfix">
          <div class="dh_left fl"><span class="icon"></span></div>
          <div class="dh_list fl">
               <ul>
                   <li><a href="../news_manage_xw.html">返回</a></li>
                   <li><a href="javascript:void(0);">类型</a></li>
                   <li><a href="javascript:void(0);">新闻中心</a></li>
                   <li><a href="javascript:void(0);">关于我们</a></li>
               </ul>
          </div>
          <div class="dh_search fr"><input type="text" class="search_box"><a href="javascript:void(0);"><i class="icon"></i></a></div>
     </div>
     <div class="banner">
          <ul class="ban_flow">
              <li><a href="javascript:void(0);"><img src="img/5.jpg" alt="图片" width="1000" height="410"/></a></li>
              <li><a href="javascript:void(0);"><img src="img/5.jpg" alt="图片" width="1000" height="410"/></a></li>
              <li><a href="javascript:void(0);"><img src="img/5.jpg" alt="图片" width="1000" height="410"/></a></li>
          </ul>
          <a href="javascript:void(0);" class="flow flow_left"><i class="icon"></i></a>
          <a href="javascript:void(0);" class="flow flow_right"><i class="icon"></i></a>
     </div>     
     <div class="con_nr con01">
          <div class="con_nt"><a href="javascript:void(0);"><span>新闻中心</span></a></div>
          <div class="detail_nr">
               <h2>世界，你好！</h2>
               <div class="detail_time">作者：<span>邹智敏</span></div>
               <div class="detail_zi">
               		二零一七年三月二十一日 星期二

					似乎，她是一个晚熟的姑娘。

					母亲和长辈从小如是说。

					很多事情她总是后之后觉，偶尔有会点儿小迷糊。

					今天她有些话想说一说。

					想起来她小时候，每认得一个生字，做出一道算术题，妈妈都会适当给予表扬和鼓励，从牙牙学语，一步步学会走路，穿衣，梳头到读书写字，教给她做人的道理：对师长要尊重，对同伴要宽容、互助，对父母要孝顺，因为只有“孝”才能“顺”，要记得感谢你的竞争对手和敌人，因为是他们让你变得更加努力，激发出更好的自己。

					她尤记得母亲从小给她写的成长日记，从出生时的体重、模样，她开口说的第一句话，幼儿园得到的第一朵小红花……现在她轻轻翻开几本厚厚的日记，深感母亲那一番深沉细密的爱。而她也从穿花裙子扎两个辫子的小姑娘，慢慢长成了21岁的大姑娘。记忆里小时候每个六一儿童节她都会去公园里拍一张照片，如今想起来，那棵歪脖树又该长出新叶了吧，大树的年轮一圈圈增长，而她，也长大了。

					母亲还给她买了一份终身的保险，从她出生、升学、结婚到年老退休，每个阶段都会有一些“小惊喜”，虽然数额不大，但足以温暖她一生了。

					父亲亦是疼爱她的，小时候他可以因为她输液几次扎不进针而着急地和医生争执，因为她不吃药而各种逗乐，哄她开心。她想要骑在他脖子上他就会把她高高托起架在自己脖子上；她做不出算术题怕被妈妈责备的时候便只管笑嘻嘻地往爸爸身后躲。父亲的爱是深沉的，不善表露的，可她知道，他一直爱她，甚至胜过爱他自己。

					妹妹是个小精灵，如今已经15岁了，半大的小姑娘，高高的个子，明亮的眸子，一头乌黑柔顺的头发，眉眼间她们像极了彼此。

					她是炜钰的姐姐，她是惠萍的妹妹。

					就像她们的名字一样，她的性子和婉些，她的性子明媚些。

					小时候她曾说过要抱护她一辈子，有风有雨她来替她挡。

					长大后的她说要来保护她 她说 姐姐，你那么傻白甜 可不能让人欺负

					六岁的时候， 她第一眼看到她 ，在那个在襁褓里的小小婴孩。

					她定定地望着她笑，从那一刻开始，她们的世界开始有了交集。

					她和她，是这世界上除了父母之外最亲的亲人，她们情同手足，血浓于水。

					十七岁的时候，她喜欢上一个男孩子，你瘪瘪嘴说，她不喜欢他。

					她笑着摸摸她短短的头发，说傻丫头，姐姐还是最疼你的啊。

					然后她们便一同跑出门去买五角钱的冰棍吃，一路上有说不完的笑话。

					有时候，也会静静地坐在彼此旁边，看书写作业，即使不说话也很美好。

					假如她有两块糖，她一定会给留她一块，假如她只有一块糖，她会都给她。

					因为她她看上去是那么柔软，可爱。
					<img src="img/5.jpg" width="900" height="410" />

					虽然她常常会像一个跟屁虫一样跟着她，让她给她讲故事听，她嘴上说着不要老是来烦她，心里却一万个愿意。她喜爱看她熟睡的样子，亦如小时候一样，恬静可爱，她会摸摸她的小鼻子或者掐掐她的小脸，她便不满地嘟囔几句她听不清楚的话，翻个身继续沉沉地睡去。

					在她曾经的一段灰暗日子里，这个小太阳是照亮她，温暖她的光，虽然这光并不那么耀眼，但她一生都不会忘记。她曾经说过，姐姐，她只有在摸你头发的时候你才会笑，你怎么了，你不开心吗。她说，没事儿，放心吧，姐姐只是有点儿累，很快就会好起来的。

					直到那段阴霾笼罩的日子终于过去，她的人生才像雨后放晴的天空，微凉却明媚。

					在这期间里，她要感谢的人有好多，她的亲人们，朋友们，她的老师，当然，她也感谢她的初恋，感谢那场高考。十五岁的时候，她的父母离异，但现在他们因此找到了属于适合各自的生活方式。做女儿的，替他们感到高兴和欣慰。能用自己喜欢的方式安稳度过一生，总好过再互相牵绊纠缠，消磨心里最后那份亲人般的感觉。这段期间，很多老师教会她一些道理，使她受益终生。他们不求回报地付出自己的青春和生命，而如今，她也长大了，即将成为一名踏上三尺讲台的教师。

					要记得，或许锦上添花的人有很多，但一定不要忘了那个给
					<img src="img/5.jpg" width="900" height="310" />
					你雪中送炭的人。

					滴水之恩，当以涌泉相报。

					她曾经也和初恋幻想过，想要一生一世，从校服到婚纱，从青丝到白发。她们交换过的小时候照片你还留着吗，偷偷传阅的小纸条你还收着吗，尤记得校服上用蓝色圆珠笔写下的你名字缩写，每次看到都觉得像触碰到了山间第一缕柔柔的阳光，温暖着你的她的十七岁校园时光。她记得你会骑单车载她从学校旁的公园里飞驰而过，连公园里散步的老人们都会笑着看着这两个冒冒失失的小家伙，仿佛也回想起了他们当年时年轻模样，而她确是早已羞红了脸，催他快点骑车。而时光仿佛远比她们想象中过得还要快，它就在她们做试卷、背课文、嬉笑打闹、做早操、偷偷为喜欢的人写下第一封情书时候，悄悄流逝。

					曾经的她们觉得大学生活遥遥无期，就该一直停留在十七岁的年纪，如校园一角的樱花，海棠，迎春，开了一季又一季，仿佛永远都不会结束。她们身上穿的那身校服，放学路上一起走过的林荫路，青春岁月从她们的朗朗书声和嬉笑打闹中打马而过。

					时间不会停，她们的脚步也不会停。

					她们总说毕业遥遥无期，转眼间便各奔东西。女孩儿们愈发淑女，蓄起了长发，穿上了许久未穿的裙子，男孩儿们愈发地稳重，成熟，也穿起了衬衣和西装。

					可她们，都已不再是当初那个幼稚单纯的她们了，最好的她们，永远地定格在了毕业前5月份的那张毕业张片里。

					如今的朋友们啊，你们在哪里，都还好吗。

					那时候的校园生活，除了做数学题，物理题外，什么都很简单。友情很简单，喜欢一个人很简单，甚至连吵架和斗嘴都是因为那么简单的一件小事情。那时候，喜欢一个人可以默默放在心底好久，或许到毕业的时候都不敢和他（她）说出那句，她喜欢你。又或许，今天喜欢一个人，明天发觉好像更喜欢他（她）多一些，自己却还疑心自己是否是不够专一。然而现在再回首往事，也只是莞尔一笑。年少时的她们啊，总爱多愁善感，患得患失。笑，很简单；哭，也很简单。长大后的她们，发现除了学习简单之外，其他的都不简单。学习反而是一件最简单单纯的事情。而其他的事情，她们越来越发现，并不是你努力，以及付出全部的真心，就能得到同样回报的。

					但是，长大这件事情，是一个不可逆的过程。她们，都要不可避免地长大。只愿当她们是个大人的时候，心里别忘了那个孩子。他（她）当初最期盼最

					羡慕的不就是你这个年纪吗。所以，二十岁的你，别辜负十五岁的自己。

					大学时光无比珍贵，劝君惜取少年时，青春易逝，诗酒趁年华。

					如今的她，内心更多的是平静和安稳。她想在她最好的年纪遇上最好的那个你。21岁的她已经完成了人生的一次蜕变，褪去了青涩和幼稚，多了几分坚强和淡然。她喜欢她如今的模样，她的生活状态。而未来的那个你，又会在哪里呢。她一直欣赏赵明诚和李清照那般，举案齐眉，读书赏花。21岁的她今天许下一个心愿，愿得一人白首，从青丝到白发，今生今世，只愿伴他一人左右，何当共剪西窗烛，却话巴山夜雨时。长长久久，久久长长。

					你好，全世界。

					愿她们都能遇见最好的自己，遇见最好的那个你。
               </div>
          </div>
     </div>
     
</div>
<div class="bottom">Copyright © 2013-2015 www.zzm.com All Rights Reserved 版权所有：看世界咨询有限公司 备案号：备3624271008号</div>
</body>
</html>
